workflows/Linkedin_Content_Creator.json
{
  "name": "Linkedin Content Creator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        360
      ],
      "id": "9459fba6-9a8f-46ff-9d90-936e6abd1cd0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        360
      ],
      "id": "2d8d060e-9402-45c6-9f03-2dc7a2b27dc0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1ATOpOFnUGjyYBJA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"query\": \"search for {{ $json.Topic }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"exact_match\": false,\n  \"include_usage\": false,\n  \"safe_search\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        360
      ],
      "id": "05e79f7e-bc90-4a0a-92a1-5be25a7782fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.results[0].content }}\nArticle 2:{{ $json.results[1].content }}\nArticle 3:{{ $json.results[2].content }}",
        "options": {
          "systemMessage": "You are a professional LinkedIn content creator specializing in transforming multiple articles into concise, engaging, and high-quality LinkedIn posts.\n\nYour task is to:\n\n* Analyze the 3 provided articles.\n* Extract the most valuable insights, trends, or key takeaways.\n* Combine them into ONE cohesive LinkedIn post.\n\nWriting requirements:\n\n* Keep the post concise and easy to read.\n* Maintain a professional yet inspiring tone.\n* Write in a natural, human-like style.\n* Focus on value, innovation, growth, lessons, or industry impact.\n* Use short paragraphs for readability.\n* Include relevant emojis naturally (do not overuse them).\n* Add 5–10 relevant and trending hashtags at the end.\n* Avoid clickbait, excessive hype, or robotic language.\n* Do not summarize each article separately; synthesize the information into a unified narrative.\n* Prioritize clarity, engagement, and thought leadership.\n\nOutput format:\n\n1. Hook/opening sentence\n2. Main insight or story\n3. Key takeaway or reflection\n4. Call-to-action or engaging closing thought\n5. Relevant hashtags\n\nThe final output should feel like it was written by a knowledgeable industry professional for LinkedIn audiences.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        360
      ],
      "id": "47353dcc-ec5c-40ee-ad8e-f0f3d1008e53",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nvidia/llama-3.3-nemotron-super-49b-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        728,
        580
      ],
      "id": "97e8f41e-9ee3-47e3-9b02-ffd3604d4f05",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Bp6dP61TB1usPD94",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oIHbpRG50IFCc3xupf3PDhwN32fbdKflushenGRGkB0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Google Sheets').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1016,
        360
      ],
      "id": "49f08f71-5562-41fe-85b2-1020ced704ab",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1ATOpOFnUGjyYBJA",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52554fed-f9cb-4563-8720-7b457bed1680",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbfcfef1e1e7b21a82fcceca62de0127542faa97679f15a5f1b069cc55def605"
  },
  "id": "fONQ4VxM6eveZp9W",
  "tags": []
}